.AboutUsComponent {
  /* background-color: blue; */
  margin-top: 5%;
  margin-bottom: 5%;
}

.AboutUsRowOne {
  padding: 5%;
  /* background-image: url("./img//banner.jpg"); */
  background-color: rgb(0, 115, 150);
  background-image: radial-gradient(
    circle,
    #ffb400,
    #f69100,
    #ea6e00,
    #dc4600,
    #cb0000
  );
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  -webkit-box-shadow: 10px 10px 16px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 16px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 16px -2px rgba(0, 0, 0, 0.75);
  color: aliceblue;
  margin: 3px;
  transition-timing-function: ease-in-out;
  transition: 1s;
}

.AboutUsRowOne img {
  width: 300px;
}

.memberrole {
  background-color: chocolate;
  padding: 5px;
  border-radius: 20px;
  color: aliceblue;
  font-weight: bold;
}

.membersCard {
  border-radius: 20px;
  -webkit-box-shadow: 10px 10px 13px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 13px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 13px -7px rgba(0, 0, 0, 0.75);

  transition-timing-function: ease-in-out;
  transition: 1s;
}

.LecurersImages {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  -webkit-box-shadow: 0px 0px 19px 6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 19px 6px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 19px 6px rgba(0, 0, 0, 0.75);
}

.LecturerInfoColOne {
  text-align: left;
  margin-top: 6%;
}

.LecturerInfoColTwo {
  text-align: right;
  margin-top: 6%;
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (min-width: 400px) {
  .AboutUsRowOne:hover {
    transform: scale(1.1);
  }
  .membersCard:hover {
    transform: scale(1.05);
  }
}

/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 400px) {
  .AboutUsRowOne img {
    width: 200px;
    margin-bottom: 10px;
  }
}
